.container {
    padding: 2rem;
  }
  
  .header {
    text-align: center;
  }
  
  .zodiacSection {
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 10px;
  }
  
  .zodiacIcon {
    font-size: 6rem;
  }
  
  .title {
    font-size: 0.9rem;
    text-align: center;
  }
 
.zodiacHeaderFlexBox{
  display: flex;
  justify-content: space-between;
  margin: 0 40px 0 40px;
} 
.selectZodiacnTitle{
  display: flex;
  gap: 10px;
  flex-direction: column;
} 